/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */

body {
   background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Ysabeau SC', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.big-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.my-container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.items-container {
    width: 800px;
    height: 400px;
    margin: 0 auto  ;
}



.item {
    width: 800px;
    height: 400px;
    display: none;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.preview-container {
    width: 180px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.preview-container > * {
    height: calc(100% / 5);
}

.preview-container > * :hover {
    border: 2px red solid;
}

.preview-container img {
    width: 100%;
    height: 100%;
}

.button-container {
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    border: none;
    background-color:black;
    color: white;
    cursor: pointer;
}

.active {
    display: block;
}

